        <li>
          <% if star.author %>
          <%= gravatar_for @users[star.author], size: 52 %>
          <% end %>
          <span class="title"><%= link_to star.title, star.url %></span>
          <span class="timestamp">
            Updated <%= time_ago_in_words(star.updated_at) %> ago.
          </span>
        </li>
