<% provide(:title, @item.title) %>
<h1><%= @item.title %></h1>
<% if current_user?(@item.user) %>
  <%= link_to 'edit', action: :edit, id: params[:id] %>
  <%= link_to 'delete', item_path(@item), method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>
<div class="row">
  <div class="span6 offset3">
    <%= markdown(@item.content, 'python') %>
  </div>
</div>
