@import "bootstrap";
@import "bootstrap/theme";
@import "github";

$grayMediumLight: #eaeaea;

body {
  padding-top: 20px;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin list_li {
  padding: 10px 0;
  border-top: 1px solid #e8e8e8;
}

@mixin list_timestamp {
  color: $gray-light;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .error;
}


/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-light;
    &:last-child {
      border-bottom: 1px solid $gray-light;
    }
  }
}

/* user forms */
@mixin content_form {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

.user input, textarea, select, .uneditable-input {
  @include content_form;
}

.item input, textarea, select, .uneditable-input {
  @include content_form;
}

/* items */
.items {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    @include list_li;
  }

  .user {
    margin-right: 5px;
  }

  .title {
    margin-left: 2px;
  }

  .timestamp {
    @include list_timestamp;
  }
}

.item_histories {
  margin-top: 10px;

  li {
    @include list_li;
  }

  .timestamp {
    @include list_timestamp;
  }
}

.content {
  display: block;
}


.gravatar {
  float: left;
  margin-right: 10px;
}

.highlighttable {
  width: 100%;
  .linenos {
    width: 48px;
  }
}

.changes {
  margin-left: 0px;
  margin-right: 10px;
}

.edit {
  margin-left: 10px;
  margin-right: 10px;
}

.delete {
  margin-left: 10px;
  margin-right: 10px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.user_items {
  margin-top: 96px;
  .user {
    margin-top: 15px;
  }
  .items {
    margin-top: 40px;
  }
}

.diff_header {
  margin-top: 20px;
}

.diff_body {
  margin-top: 5px;
  margin-left: 60px;
}

.diff {
  overflow: auto;
  border: 1px solid #e8e8e8;
  padding: 2px;

  ul {
    background: #fff;
    overflow: auto;
    font-size: 13px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
  }

  del, ins {
    display: block;
    text-decoration: none;
  }

  li {
    padding: 0;
    display: table-row;
    margin: 0;
    height: 1em;

    ins {
      background: #cec;
      color: #070;
    }

    del {
      background: #edd;
      color: #a00;
    }

    &:hover {
      background: #ffc;
    }

    diff-comment {
      display: none;
    }

    diff-block-info {
      background: none repeat scroll 0 0 gray;
    }
  }

  del, ins, span {
    white-space: pre-wrap; font-family: courier;
  }

  del {
    strong {
      font-weight: normal;
      background: #fcc;
    }
  }

  ins {
    strong {
      font-weight: normal;
      background: #9f9;
    }
  }
}
  



/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

