@import "bootstrap";
@import "bootstrap/theme";
@import "github";

$grayMediumLight: #eaeaea;

body {
  padding-top: 20px;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin list_li {
  padding: 10px 0;
  border-top: 1px solid #e8e8e8;
}

@mixin list_timestamp {
  color: $gray-light;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .error;
}

.page-header {
  .stars_container {
    height: 25px;
  }
  border-bottom: 1px solid #ddd;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-light;
    &:last-child {
      border-bottom: 1px solid $gray-light;
    }
  }
}

/* user forms */
@mixin content_form {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

.user input, textarea, select, .uneditable-input {
  @include content_form;
}

/* items */
.items {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    @include list_li;
  }

  .user {
    margin-right: 5px;
  }

  .title {
    margin-left: 2px;
  }

  .timestamp {
    @include list_timestamp;
  }
}

.item_histories {
  margin-top: 10px;

  li {
    @include list_li;
  }

  .timestamp {
    @include list_timestamp;
  }
}

.content {
  display: block;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.markdown {
  h1 {
    font-size: 28px;
    border-bottom: solid #dedede 1px;
    margin-top: 36px;
    margin-bottom: 24px;
  }

  h2 {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .highlighttable {
    width: 100%;
    .linenos {
      width: 48px;
    }
  }

  li {
    margin: 10px 0px 10px 0px;
  }

  div.code-block {
    margin: 15px 0px 10px 0px;
  }

  img {
    margin: 10px 0px 10px 0px;
  }
}

/* edit item */
.edit input, textarea, select, .uneditable-input {
  @include content_form;
}

.code-header {
  background-color: #f5f5f5;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #ccc;
  padding: 8px 0px 8px 12px;
  background-image: linear-gradient(#fafafa, #eaeaea);
  background-repeat: repeat-x;
}

.linenos pre {
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #ccc;
  background-color: #fdfdfd;
}

.code pre {
  border: 1px solid #ccc;
  background-color: #fdfdfd;
}

.highlight pre {
  border-radius: 0px; }
 
.changes {
  margin-left: 0px;
  margin-right: 10px;
}

.edit {
  margin-left: 10px;
  margin-right: 10px;
}

.delete {
  margin-left: 10px;
  margin-right: 10px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.user_items {
  margin-top: 96px;
  .user {
    margin-top: 15px;
  }
  .items {
    margin-top: 40px;
  }
}

.diff_header {
  margin-top: 20px;
}

.diff_body {
  margin-top: 5px;
  margin-left: 60px;
}

.diff {
  overflow: auto;
  border: 1px solid #e8e8e8;
  padding: 2px;

  ul {
    background: #fff;
    overflow: auto;
    font-size: 13px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
  }

  del, ins {
    display: block;
    text-decoration: none;
  }

  li {
    padding: 0;
    display: table-row;
    margin: 0;
    height: 1em;

    ins {
      background: #cec;
      color: #070;
    }

    del {
      background: #edd;
      color: #a00;
    }

    &:hover {
      background: #ffc;
    }

    diff-comment {
      display: none;
    }

    diff-block-info {
      background: none repeat scroll 0 0 gray;
    }
  }

  del, ins, span {
    white-space: pre-wrap; font-family: courier;
  }

  del {
    strong {
      font-weight: normal;
      background: #fcc;
    }
  }

  ins {
    strong {
      font-weight: normal;
      background: #9f9;
    }
  }
}

/* comment */

.comment {
  margin-top: 30px;

  .comment_header {
    color: $gray-light;
  }

  .item_comments {
    padding-left: 0px;

    li {
      margin-top: 10px;
      @include list_li;
      .timestamp {
        @include list_timestamp;
      }
      .content {
        margin-top: 10px;
      }
    }
  }

  .comment_form {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #e8e8e8;

    .your_comment {
      color: $gray-light;
    }

    textarea {
      font-family: monospace;
      margin-bottom: 0px;
    }
  }
}

/* preview */

div.tab-pane {
  padding-top: 2px;
  margin-bottom: 10px;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;

  .tab-pane-preview {
    padding-left: 10px;
    .dummy {
      height: 9999px;
    }
  }

  textarea {
    border: 0px;
    font-family: monospace;
  }  
}

/* star */
#add_star {
  display: none;
}

#remove_star {
  display: none;
}

.starred {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-light;
    &:last-child {
      border-bottom: 1px solid $gray-light;
    }
  }
}

  
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;

  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

